* {
    padding: 0; margin: 0; 
  }
  div {
    color:rgba(61, 74, 61, 0.851)
  }
  
    body {
      letter-spacing: 1px;
      background-color: rgb(197, 214, 197);
      margin: 0;
    }
  
    .container{
      width: 23rem;
      height: 23rem;
      margin-left: 40%;
      
    }
    .centered {
      position: absolute;
      top: 11rem;
      left: 50%;
      text-transform: uppercase;
      letter-spacing: 042e5m;
      font-size: 1.3em;
      transform: translate(-50%, -50%);
      color:rgba(61, 74, 61, 0.851)
    }

    .topnav {
        overflow: hidden;
        background-color: black;
        opacity: 50%;
      }
      
      .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

p {
  text-align: center;
  padding: 2.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 14px;
  color:rgba(61, 74, 61, 0.851)
}