* {
    padding: 0; margin: 0; 
  }
  div {
    color:rgba(61, 74, 61, 0.851)
  }
  
  div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
    body {
      letter-spacing: 1px;
      background-color: rgb(197, 214, 197);
      margin: 0;
    }

    .container{
      width: 23rem;
      height: 23rem;
      margin-left: 16rem;
    }
    .centered {
      position: absolute;
      top: 18%;
      left: 50%;
      text-transform: uppercase;
      letter-spacing: 042e5m;
      font-size: 1.3em;
      transform: translate(-50%, -50%);
      color:rgba(61, 74, 61, 0.851)
    }
          
    .topnav {
        overflow: hidden;
        background-color: black;
        opacity: 50%;
      }
      
      .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

ul {
  
  position: sticky;
  top: 0px;
}

ul li {
  background-color: rgb(197, 214, 197);
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  padding-left: 0;
  margin-left: 2rem;
  color:rgba(61, 74, 61, 0.851)
  
}

img{
  width: 100%;
  max-width: 34rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block;
}

.column {
  max-width: 20rem;
  float: under;
  width: 33.33%;
  align-items: center;
  margin-left: 10%;
}

.leftcolumn {
  max-width: 50%;
  float: right;
  width: 50%;
  margin-left: 0;
}

.row::after {
  clear: both;
  display: table;
}